* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(15, 23, 42);
}
html {
  width: 100%;
  height: 100%;
}
h1 {
  color: aliceblue;
  font-size: 2.6em;
}
h2 {
  color: aliceblue;
  font-size: 1.8em;
}
h3 {
  color: aliceblue;
  font-size: 1.1em;
  max-width: 20rem;
}
li {
  color: aliceblue;
}
p {
  color: rgb(117, 134, 148);
  margin-top: 4%;
  margin-bottom: 4%;
}
.cards {
  margin: 70px;
}
#container {
  background-color: rgb(15, 23, 42);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 250px 250px auto;
  grid-template-areas:
    "introduction content"
    "bookmarks content"
    "footer content";
  min-height: fit-content;
}
hr {
  border-color: aliceblue;
}
.introduction {
  top: 0;
  grid-area: introduction;
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
  height: 33vh;
}
.right-side {
  grid-area: content;
  height: fit-content;
}

.bookmarks {
  top: 250px;
  position: sticky;
  grid-area: bookmarks;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 33vh;
}
.footer {
  grid-area: footer;
  height: 29vh;
  top: 500px;
  position: sticky;
  display: flex;
  justify-content: center;
}
.socials {
  display: flex;
  justify-content: center;
  height: fit-content;
  margin-right: 40%;
}
.short-line {
  width: 60px;
  border-width: 2px;
  border-color: black;
  margin-top: 5px;
  margin-right: 5px;
}
.bookmark {
  display: flex;
  align-items: center;
  width: fit-content;
}
.bookmarks-box {
  margin-right: 20%;
}
.social-ico {
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 20px;
  width: 30px;
  height: 30px;
}
.text-wrap {
  margin-top: 100px;
  padding-right: 70px;
  padding-left: 70px;
}
.high-lighted-link {
  color: azure;
  text-decoration: none;
}
.cards {
  margin-top: 70px;
  margin-left: 0;
  margin-right: 0;
  padding: 10px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 110px 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "date title"
    "date tools";
}
.tool-used {
  margin: 1px;
  display: inline;
}
.tools {
  grid-area: tools;
}
.title-and-description {
  grid-area: title;
}
.date {
  grid-area: date;
}
.experiences {
  width: 500px;
}
.experiences:hover {
  .cards:hover {
    opacity: 1;
    background: rgba(255, 255, 255, 0.064);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
  .cards {
    opacity: 0.5;
  }
}
@media only screen and (max-width: 840px) {
  #container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "introduction"
      "content"
      "footer";
  }
  .bookmarks-box {
    display: none;
  }
  .introduction {
    padding-left: 5%;
    position: unset;
  }
  .footer {
    position: unset;
  }
}
